In [2]:
import pandas as pd

path = r"C:\Users\z0040jeb\Desktop\predictions\ON_one_year\ON_performance_report_25122024_1507_table_True_onlytable_False.xlsx"

df = pd.read_excel(path,usecols=lambda column: column not in ['Unnamed: 0']).reset_index(drop=True)

df.head(3)

,Date,Open,High,Low,Close,Volume,Close_EMA_13,Close_EMA_8,Predicted_High,Predicted_Low,...,Profitable_trades_(%),Total_win_trades,cumulative_profit,High_Mean_Negative_Deviation,Low_Mean_Negative_Deviation,model,total_tokens,system_fingerprint,combined_score,trade_tracking
0,2024-12-23,65.50,67.92,65.45,67.90,8302204,67.900000,67.900000,72.000,66.00,...,48,24,0.000,-2.286286,-1.553271,gpt-4o-2024-05-13,13311,fp_20cb129c3a,0.146062,NaN
1,2024-12-16,65.40,70.58,63.94,65.50,44152334,67.557143,67.366667,69.715,64.32,...,48,24,660.195,-2.286286,-1.553271,gpt-4o-2024-05-13,13311,fp_20cb129c3a,0.146062,1.0
2,2024-12-09,66.52,68.66,64.80,65.96,26548753,67.328980,67.054074,71.300,64.59,...,48,24,660.195,-2.286286,-1.553271,gpt-4o-2024-05-13,13311,fp_20cb129c3a,0.146062,NaN

In [10]:
df['difference_open_predicted_high'] = df.apply(lambda x: x['Predicted_High']-x['Open'],axis=1)
df['difference_open_predicted_low'] = df.apply(lambda x: -x['Predicted_Low']+x['Open'],axis=1)
df.head(3)

,Date,Open,High,Low,Close,Volume,Close_EMA_13,Close_EMA_8,Predicted_High,Predicted_Low,...,total_tokens,system_fingerprint,combined_score,trade_tracking,difference_open_predicted,predicted_diff,open_bin,diff_bin,difference_open_predicted_low,difference_open_predicted_high
0,2024-12-23,65.50,67.92,65.45,67.90,8302204,67.900000,67.900000,72.000,66.00,...,13311,fp_20cb129c3a,0.146062,NaN,6.500,6.500,"(65, 70]","(6, 8]",-0.50,6.500
1,2024-12-16,65.40,70.58,63.94,65.50,44152334,67.557143,67.366667,69.715,64.32,...,13311,fp_20cb129c3a,0.146062,1.0,4.315,4.315,"(65, 70]","(4, 6]",1.08,4.315
2,2024-12-09,66.52,68.66,64.80,65.96,26548753,67.328980,67.054074,71.300,64.59,...,13311,fp_20cb129c3a,0.146062,NaN,4.780,4.780,"(65, 70]","(4, 6]",1.93,4.780

In [11]:
df = df[df['difference_open_predicted_high']>0.1]
df.head(2)

,Date,Open,High,Low,Close,Volume,Close_EMA_13,Close_EMA_8,Predicted_High,Predicted_Low,...,total_tokens,system_fingerprint,combined_score,trade_tracking,difference_open_predicted,predicted_diff,open_bin,diff_bin,difference_open_predicted_low,difference_open_predicted_high
0,2024-12-23,65.5,67.92,65.45,67.9,8302204,67.900000,67.900000,72.000,66.00,...,13311,fp_20cb129c3a,0.146062,NaN,6.500,6.500,"(65, 70]","(6, 8]",-0.50,6.500
1,2024-12-16,65.4,70.58,63.94,65.5,44152334,67.557143,67.366667,69.715,64.32,...,13311,fp_20cb129c3a,0.146062,1.0,4.315,4.315,"(65, 70]","(4, 6]",1.08,4.315

In [12]:
# A) Frequency-based approach

import pandas as pd
import numpy as np

# Suppose df is your DataFrame
# Columns: ['Date', 'Open', 'Predicted_High', 'trade_result', ...]

df['predicted_diff_high'] = df['Predicted_High'] - df['Open']

# 1. Define bins
open_bins = [60, 65, 70, 75, 80, 85]    # Example
diff_bins = [0, 2, 4, 6, 8, 10]            # Example

# 2. Cut / bin the data
df['open_bin'] = pd.cut(df['Open'], bins=open_bins)
df['diff_bin'] = pd.cut(df['predicted_diff_high'], bins=diff_bins)

# 3. Group by (open_bin, diff_bin) and compute success probability
grouped = df.groupby(['open_bin', 'diff_bin'])
stats = grouped.agg(
    total_trades = ('trade_result', 'size'),
    success_trades = ('trade_result', 'sum')
).reset_index()

stats['success_rate'] = stats['success_trades'] / stats['total_trades']

# stats now has the empirical success rate for each bin
# e.g., if open_bin=(60,70], diff_bin=(4,6], success_rate=0.75 means 75% success in that bin

C:\Users\z0040jeb\AppData\Local\Temp\ipykernel_17560\668820209.py:20: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = df.groupby(['open_bin', 'diff_bin'])

In [13]:
stats.sort_values(by=['success_rate','open_bin'],ascending=False)

    open_bin diff_bin  total_trades  success_trades  success_rate
20  (80, 85]   (0, 2]             1               1          1.00
16  (75, 80]   (2, 4]             2               2          1.00
10  (70, 75]   (0, 2]            10               8          0.80
6   (65, 70]   (2, 4]             5               4          0.80
15  (75, 80]   (0, 2]             4               3          0.75
11  (70, 75]   (2, 4]             8               4          0.50
7   (65, 70]   (4, 6]             4               2          0.50
17  (75, 80]   (4, 6]             2               0          0.00
18  (75, 80]   (6, 8]             1               0          0.00
12  (70, 75]   (4, 6]             3               0          0.00
8   (65, 70]   (6, 8]             3               0          0.00
9   (65, 70]  (8, 10]             1               0          0.00
3   (60, 65]   (6, 8]             1               0          0.00
4   (60, 65]  (8, 10]             1               0          0.00
21  (80, 85]   (2, 4]             0               0           NaN
22  (80, 85]   (4, 6]             0               0           NaN
23  (80, 85]   (6, 8]             0               0           NaN
24  (80, 85]  (8, 10]             0               0           NaN
19  (75, 80]  (8, 10]             0               0           NaN
13  (70, 75]   (6, 8]             0               0           NaN
14  (70, 75]  (8, 10]             0               0           NaN
5   (65, 70]   (0, 2]             0               0           NaN
0   (60, 65]   (0, 2]             0               0           NaN
1   (60, 65]   (2, 4]             0               0           NaN
2   (60, 65]   (4, 6]             0               0           NaN

In [42]:
import pandas as pd
import numpy as np

# 1. Define the success column:
df['predicted_low_success'] = df['prediction_deviation_Low'].apply(lambda x: 1 if x > 0 else 0)
df['predicted_diff_low'] = + df['Predicted_Low'] - df['Open']

# 2. Define your bins. 
#    Adjust these based on your datasetâ€™s actual ranges
open_bins = [60, 65, 70, 75, 80, 85]           # Example bins for 'Open'
low_dev_bins = [-2, 0, 2, 4, 6, 8]            # Example bins for 'prediction_deviation_Low'

# 3. Cut / bin the data
df['open_bin'] = pd.cut(df['Open'], bins=open_bins)
df['low_dev_bin'] = pd.cut(df['predicted_diff_low'], bins=low_dev_bins)

# 4. Group by your bins and aggregate
grouped = df.groupby(['open_bin', 'low_dev_bin'])
stats = grouped.agg(
    total_trades=('predicted_low_success', 'size'),
    success_trades=('predicted_low_success', 'sum')
).reset_index()

# 5. Compute success rate
stats['success_rate'] = stats['success_trades'] / stats['total_trades']

# 6. stats DataFrame now contains your success rate in each (open_bin, low_dev_bin) bucket.
stats.sort_values(by='success_rate',ascending=False)

C:\Users\z0040jeb\AppData\Local\Temp\ipykernel_17560\2706613805.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = df.groupby(['open_bin', 'low_dev_bin'])

    open_bin low_dev_bin  total_trades  success_trades  success_rate
1   (60, 65]      (0, 2]             2               2      1.000000
6   (65, 70]      (0, 2]             4               4      1.000000
16  (75, 80]      (0, 2]             1               1      1.000000
7   (65, 70]      (2, 4]             1               1      1.000000
10  (70, 75]     (-2, 0]             8               6      0.750000
5   (65, 70]     (-2, 0]             7               5      0.714286
0   (60, 65]     (-2, 0]             0               0           NaN
2   (60, 65]      (2, 4]             0               0           NaN
3   (60, 65]      (4, 6]             0               0           NaN
4   (60, 65]      (6, 8]             0               0           NaN
8   (65, 70]      (4, 6]             0               0           NaN
9   (65, 70]      (6, 8]             0               0           NaN
11  (70, 75]      (0, 2]             0               0           NaN
12  (70, 75]      (2, 4]             0               0           NaN
13  (70, 75]      (4, 6]             0               0           NaN
14  (70, 75]      (6, 8]             0               0           NaN
15  (75, 80]     (-2, 0]             0               0           NaN
17  (75, 80]      (2, 4]             0               0           NaN
18  (75, 80]      (4, 6]             0               0           NaN
19  (75, 80]      (6, 8]             0               0           NaN
20  (80, 85]     (-2, 0]             0               0           NaN
21  (80, 85]      (0, 2]             0               0           NaN
22  (80, 85]      (2, 4]             0               0           NaN
23  (80, 85]      (4, 6]             0               0           NaN
24  (80, 85]      (6, 8]             0               0           NaN

In [43]:
df[['prediction_deviation_Low','Predicted_Low','Low','Open','predicted_low_success']]

,prediction_deviation_Low,Predicted_Low,Low,Open,predicted_low_success
0,0.5500,66.000,65.4500,65.500,1
1,0.3800,64.320,63.9400,65.400,1
2,-0.2100,64.590,64.8000,66.520,0
3,2.8550,68.000,65.1450,71.000,1
4,-2.5160,66.620,69.1360,71.160,0
5,1.3600,65.680,64.3200,64.480,1
6,4.4100,69.000,64.5900,71.000,1
7,-2.8000,65.680,68.4800,70.250,0
8,2.3800,69.000,66.6200,67.295,1
9,2.7100,68.390,65.6800,68.100,1
10,0.1000,68.390,68.2900,71.000,1
11,-1.5900,67.410,69.0000,70.620,0
12,-1.1100,68.390,69.5000,72.310,0
13,-2.7400,66.360,69.1000,69.980,0
14,-0.9800,67.410,68.3900,70.800,0
15,0.6400,67.000,66.3600,68.800,1
16,5.6950,73.105,67.4100,76.410,1
17,-3.4800,69.610,73.0900,76.220,0
18,-0.5750,72.530,73.1050,75.640,0
19,-1.6100,68.000,69.6100,71.320,0
20,0.8200,67.000,66.1800,66.850,1
22,5.7200,72.500,66.7800,75.340,1
23,0.3500,72.370,72.0200,75.760,1
24,-1.3600,71.010,72.3700,73.120,0
25,0.7300,68.520,67.7900,68.960,1
26,0.8198,67.580,66.7602,68.200,1
27,3.7200,70.900,67.1800,71.890,1
28,-0.4900,71.010,71.5000,71.590,0
30,0.4000,71.010,70.6100,72.430,1
31,-0.2800,71.010,71.2900,73.070,0
32,-2.0000,69.010,71.0100,71.289,0
33,-3.0100,66.000,69.0100,70.680,0
34,-1.0150,66.565,67.5800,68.000,0
35,3.6600,63.000,59.3400,61.020,1
36,6.2400,66.500,60.2600,67.850,1
37,5.5550,72.120,66.5650,69.310,1
38,4.7380,72.850,68.1120,73.890,1
39,-0.1200,72.000,72.1200,72.200,0
40,2.7100,75.560,72.8500,75.490,1
41,0.5600,75.000,74.4400,78.660,1
43,-1.0600,74.500,75.5600,76.870,0
44,-1.1200,75.000,76.1200,77.420,0
45,-1.1550,76.000,77.1550,81.000,0
47,2.6700,71.450,68.7800,72.250,1
48,1.4800,72.940,71.4600,74.500,1
49,2.2440,72.944,70.7000,73.130,1

In [21]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close_EMA_13',
       'Close_EMA_8', 'Predicted_High', 'Predicted_Low', 'trade_result',
       'prediction_deviation_High', 'profit', 'profit_(10000)',
       'prediction_deviation_Low', 'ticker', 'train_window', 'target_window',
       'indicators', 'timeframe', 'training_data', 'Profitable_trades_(%)',
       'Total_win_trades', 'cumulative_profit', 'High_Mean_Negative_Deviation',
       'Low_Mean_Negative_Deviation', 'model', 'total_tokens',
       'system_fingerprint', 'combined_score', 'trade_tracking',
       'difference_open_predicted', 'predicted_diff', 'open_bin', 'diff_bin',
       'difference_open_predicted_low', 'difference_open_predicted_high',
       'predicted_diff_high', 'predicted_diff_low'],
      dtype='object')

In [24]:
df[['Low','Predicted_Low','prediction_deviation_Low']]
df['predicted_low_success'] = df['prediction_deviation_Low'].apply(lambda x: 1 if x> 0 else 0)
df

,Date,Open,High,Low,Close,Volume,Close_EMA_13,Close_EMA_8,Predicted_High,Predicted_Low,...,trade_tracking,difference_open_predicted,predicted_diff,open_bin,diff_bin,difference_open_predicted_low,difference_open_predicted_high,predicted_diff_high,predicted_diff_low,predicted_low_success
0,2024-12-23,65.500,67.9200,65.4500,67.90,8302204,67.900000,67.900000,72.000,66.000,...,NaN,6.500,6.500,"(65, 70]","(0.0, 2.0]",-0.500,6.500,6.500,0.500,1
1,2024-12-16,65.400,70.5800,63.9400,65.50,44152334,67.557143,67.366667,69.715,64.320,...,1.0,4.315,4.315,"(65, 70]",NaN,1.080,4.315,4.315,-1.080,1
2,2024-12-09,66.520,68.6600,64.8000,65.96,26548753,67.328980,67.054074,71.300,64.590,...,NaN,4.780,4.780,"(65, 70]",NaN,1.930,4.780,4.780,-1.930,0
3,2024-12-02,71.000,74.5200,65.1450,66.52,42449346,67.213411,66.935391,73.000,68.000,...,1.0,2.000,2.000,"(70, 75]",NaN,3.000,2.000,2.000,-3.000,1
4,2024-11-25,71.160,73.4900,69.1360,71.12,18337519,67.771495,67.865304,71.300,66.620,...,1.0,0.140,0.140,"(70, 75]",NaN,4.540,0.140,0.140,-4.540,0
5,2024-11-18,64.480,69.7150,64.3200,69.62,26033143,68.035567,68.255236,71.250,65.680,...,2.0,6.770,6.770,"(60, 65]","(0.0, 2.0]",-1.200,6.770,6.770,1.200,1
6,2024-11-11,71.000,71.3000,64.5900,64.76,29813463,67.567629,67.478517,71.640,69.000,...,3.0,0.640,0.640,"(70, 75]",NaN,2.000,0.640,0.640,-2.000,1
7,2024-11-04,70.250,73.4634,68.4800,70.41,26570203,67.973682,68.129958,72.980,65.680,...,1.0,2.730,2.730,"(70, 75]",NaN,4.570,2.730,2.730,-4.570,0
8,2024-10-28,67.295,76.0600,66.6200,70.99,48524182,68.404585,68.765523,73.000,69.000,...,1.0,5.705,5.705,"(65, 70]","(0.0, 2.0]",-1.705,5.705,5.705,1.705,1
9,2024-10-21,68.100,72.9800,65.6800,71.25,41260416,68.811073,69.317629,71.640,68.390,...,1.0,3.540,3.540,"(65, 70]","(0.0, 2.0]",-0.290,3.540,3.540,0.290,1
10,2024-10-14,71.000,74.1800,68.2900,68.49,33034443,68.765205,69.133711,72.170,68.390,...,1.0,1.170,1.170,"(70, 75]",NaN,2.610,1.170,1.170,-2.610,1
11,2024-10-07,70.620,71.6400,69.0000,70.33,20623603,68.988747,69.399553,72.480,67.410,...,2.0,1.860,1.860,"(70, 75]",NaN,3.210,1.860,1.860,-3.210,0
12,2024-09-30,72.310,73.5400,69.5000,71.54,25552705,69.353212,69.875208,74.990,68.390,...,5.0,2.680,2.680,"(70, 75]",NaN,3.920,2.680,2.680,-3.920,0
13,2024-09-23,69.980,75.8800,69.1000,74.39,24137794,70.072753,70.878495,72.170,66.360,...,1.0,2.190,2.190,"(65, 70]",NaN,3.620,2.190,2.190,-3.620,0
14,2024-09-16,70.800,74.9900,68.3900,69.57,31367802,70.000931,70.587718,76.410,67.410,...,NaN,5.610,5.610,"(70, 75]",NaN,3.390,5.610,5.610,-3.390,0
15,2024-09-09,68.800,72.1700,66.3600,71.72,27903810,70.246512,70.839337,76.000,67.000,...,7.0,7.200,7.200,"(65, 70]",NaN,1.800,7.200,7.200,-1.800,1
16,2024-09-02,76.410,76.4100,67.4100,67.92,30198087,69.914154,70.190595,77.940,73.105,...,NaN,1.530,1.530,"(75, 80]",NaN,3.305,1.530,1.530,-3.305,1
17,2024-08-26,76.220,78.6100,73.0900,77.87,23395691,71.050703,71.897130,76.620,69.610,...,1.0,0.400,0.400,"(75, 80]",NaN,6.610,0.400,0.400,-6.610,0
18,2024-08-19,75.640,77.9400,73.1050,76.36,28322046,71.809174,72.888879,76.870,72.530,...,1.0,1.230,1.230,"(75, 80]",NaN,3.110,1.230,1.230,-3.110,0
19,2024-08-12,71.320,76.6200,69.6100,75.84,28435775,72.385006,73.544683,74.000,68.000,...,1.0,2.680,2.680,"(70, 75]",NaN,3.320,2.680,2.680,-3.320,0
20,2024-08-05,66.850,72.4800,66.1800,71.30,37887955,72.230005,73.045865,75.000,67.000,...,2.0,8.150,8.150,"(65, 70]","(0.0, 2.0]",-0.150,8.150,8.150,0.150,1
22,2024-07-22,75.340,77.5600,66.7800,70.17,40891085,71.411637,71.526017,76.000,72.500,...,1.0,0.660,0.660,"(75, 80]",NaN,2.840,0.660,0.660,-2.840,1
23,2024-07-15,75.760,78.7600,72.0200,72.53,30433492,71.571403,71.749124,78.310,72.370,...,1.0,2.550,2.550,"(75, 80]",NaN,3.390,2.550,2.550,-3.390,1
24,2024-07-08,73.120,78.3100,72.3700,76.87,29618604,72.328345,72.887097,74.840,71.010,...,1.0,1.720,1.720,"(70, 75]",NaN,2.110,1.720,1.720,-2.110,0
25,2024-07-01,68.960,74.6700,67.7900,73.38,17424214,72.478582,72.996631,72.310,68.520,...,1.0,3.350,3.350,"(65, 70]",NaN,0.440,3.350,3.350,-0.440,1
26,2024-06-24,68.200,69.3800,66.7602,68.55,22119780,71.917356,72.008491,72.750,67.580,...,2.0,4.550,4.550,"(65, 70]",NaN,0.620,4.550,4.550,-0.620,1
27,2024-06-17,71.890,71.9300,67.1800,68.52,29343009,71.432019,71.233270,74.600,70.900,...,3.0,2.710,2.710,"(70, 75]",NaN,0.990,2.710,2.710,-0.990,1
28,2024-06-10,71.590,77.2200,71.5000,71.97,25598777,71.508874,71.396988,74.840,71.010,...,1.0,3.250,3.250,"(70, 75]",NaN,0.580,3.250,3.250,-0.580,0
30,2024-05-27,72.430,75.3400,70.6100,73.04,20062615,71.825703,71.919906,74.840,71.010,...,1.0,2.410,2.410,"(70, 75]",NaN,1.420,2.410,2.410,-1.420,1
31,2024-05-20,73.070,77.2000,71.2900,72.56,31784664,71.930603,72.062149,74.840,71.010,...,1.0,1.770,1.770,"(70, 75]",NaN,2.060,1.770,1.770,-2.060,0
32,2024-05-13,71.289,74.8400,71.0100,73.17,25007320,72.107659,72.308338,72.440,69.010,...,1.0,1.151,1.151,"(70, 75]",NaN,2.279,1.151,1.151,-2.279,0
33,2024-05-06,70.680,72.4400,69.0100,70.46,26185781,71.872279,71.897597,72.000,66.000,...,1.0,1.320,1.320,"(70, 75]",NaN,4.680,1.320,1.320,-4.680,0
34,2024-04-29,68.000,72.7500,67.5800,70.37,43796771,71.657668,71.558131,71.980,66.565,...,1.0,3.980,3.980,"(65, 70]",NaN,1.435,3.980,3.980,-1.435,0
35,2024-04-22,61.020,68.9600,59.3400,68.06,49333509,71.143716,70.780768,69.500,63.000,...,2.0,8.480,8.480,"(60, 65]","(0.0, 2.0]",-1.980,8.480,8.480,1.980,1
36,2024-04-15,67.850,67.9500,60.2600,60.71,37415010,69.653185,68.542820,71.000,66.500,...,3.0,3.150,3.150,"(65, 70]",NaN,1.350,3.150,3.150,-1.350,1
37,2024-04-08,69.310,71.9800,66.5650,66.64,27762705,69.222730,68.119971,76.080,72.120,...,7.0,6.770,6.770,"(65, 70]","(2.0, 4.0]",-2.810,6.770,6.770,2.810,1
38,2024-04-01,73.890,74.8900,68.1120,69.32,31485440,69.236626,68.386644,77.410,72.850,...,NaN,3.520,3.520,"(70, 75]",NaN,1.040,3.520,3.520,-1.040,1
39,2024-03-25,72.200,76.0800,72.1200,73.55,25471723,69.852822,69.534056,77.000,72.000,...,9.0,4.800,4.800,"(70, 75]",NaN,0.200,4.800,4.800,-0.200,0
40,2024-03-18,75.490,77.4100,72.8500,74.68,25692499,70.542419,70.677599,82.330,75.560,...,NaN,6.840,6.840,"(75, 80]","(0.0, 2.0]",-0.070,6.840,6.840,0.070,1
41,2024-03-11,78.660,82.6500,74.4400,74.87,34254724,71.160645,71.609244,83.000,75.000,...,NaN,4.340,4.340,"(75, 80]",NaN,3.660,4.340,4.340,-3.660,1
43,2024-02-26,76.870,82.3300,75.5600,81.14,27167521,73.540065,74.995962,79.000,74.500,...,1.0,2.130,2.130,"(75, 80]",NaN,2.370,2.130,2.130,-2.370,0
44,2024-02-19,77.420,79.5900,76.1200,76.19,24888508,73.918628,75.261304,82.000,75.000,...,2.0,4.580,4.580,"(75, 80]",NaN,2.420,4.580,4.580,-2.420,0
45,2024-02-12,81.000,83.4300,77.1550,78.64,32956034,74.593109,76.012125,82.000,76.000,...,1.0,1.000,1.000,"(80, 85]",NaN,5.000,1.000,1.000,-5.000,0
47,2024-01-29,72.250,73.6000,68.7800,70.83,41830563,74.815550,75.688076,77.245,71.450,...,2.0,4.995,4.995,"(70, 75]",NaN,0.800,4.995,4.995,-0.800,1
48,2024-01-22,74.500,77.4700,71.4600,71.71,46602952,74.371900,74.804059,76.000,72.940,...,1.0,1.500,1.500,"(70, 75]",NaN,1.560,1.500,1.500,-1.560,1
49,2024-01-15,73.130,74.8317,70.7000,73.87,39062687,74.300200,74.596490,76.450,72.944,...,2.0,3.320,3.320,"(70, 75]",NaN,0.186,3.320,3.320,-0.186,1